<button class="answer {{questionIndex > 1 ? '-light' : ''}}" type="button" name="button" on:click="fire('handleAnswer', {answer})">{{answer}}</button>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {
			handleAnswer(answer) {
				console.log('fired!');
			}
		}
	};
</script>

<style>
	.answer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 1rem;
		border: 1px solid #aaa;
		background: #fff;
		padding: 1rem;
		margin-top: .5rem;
		margin-bottom: .5rem;
	}
	.answer.-light {
		border: none;
	}
</style>
